<section id="motorcycleInfoWrapper" ng-controller="MotorcyclesDetailController as view">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li><a href ng-click="tab = 1" >Moto Info</a></li>
    <li><a href ng-click="tab = 2">Insurance</a></li>
    <li><a href ng-click="tab = 3">Service Records</a></li>
    <li><a href ng-click="tab = 4">Parts</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content ">
    <div ng-show="tab === 1">
      <div id="motorcycleInfo">
        <table>
          <tr><td><strong>{{selectedMotorcycle.year}}</strong></td><td><strong>{{selectedMotorcycle.make}} {{selectedMotorcycle.model}}</strong></td><td><button class="btn btn-danger" ng-click="view.deleteMotorcycles(selectedMotorcycle)">X</button><br></tr>
          <tr><td><strong>Mileage</strong></td><td>{{selectedMotorcycle.mileage | number}}</td><td><button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="view.editItem(item)"></button></td></tr>
          <tr><td><strong>Purchase Price</strong></td><td>{{selectedMotorcycle.purchasePrice | currency}}</td><td><button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="view.editItem(item)"></button></td></tr>
          <tr><td><strong>Purchase Date</strong></td><td>{{selectedMotorcycle.purchaseDate}}</td><td><button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="view.editItem(item)"></button></td></tr>
          <tr><td><strong>VIN</strong></td><td>{{selectedMotorcycle.vin}}</td><td><button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="view.editItem(item)"></button></td></tr>
          <tr><td><strong>License Plate</strong></td><td>{{selectedMotorcycle.licensePlate}}</td><td><button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="view.editItem(item)"></button></td></tr>
        </table>
        <!-- <strong>{{selectedMotorcycle.year}} {{selectedMotorcycle.make}} {{selectedMotorcycle.model}} </strong><button class="btn btn-danger" ng-click="view.deleteMotorcycles(selectedMotorcycle)">X</button><br> -->
        <!-- <ul class="inlineList">
          <li>Mileage: <span class="values">{{selectedMotorcycle.mileage | number}}</span></li>
          <li>Purchase Price: <span class="values">{{selectedMotorcycle.purchasePrice | currency}}</span></li>
          <li>Purchase Date: <span class="values">Nov. 1st, 2009</span></li>
          <li>VIN: <span class="values">{{selectedMotorcycle.vin}}</span></li>
          <li>License Plate #: <span class="values">{{selectedMotorcycle.licensePlate}}</span></li>
        </ul> -->
      </div>
    </div>
    <div ng-show="tab === 2">
      <p>Hello Insurance...</p>
      <ul class="inlineList">
        <li><strong>Policy Number:</strong> {{selectedMotorcycle.insurance.policyNumber}}</li>
        <li><strong>Insurance Company:</strong> {{selectedMotorcycle.insurance.company}}</li>
        <li><strong>Insurance Phone:</strong> {{selectedMotorcycle.insurance.companyPhone}}</li>
      </ul>
    </div>
    <div ng-show="tab === 3">
      Hello Service Records...
    </div>
    <div ng-show="tab === 4">
      Hello Parts...
    </div>
  </div>
</section>
