<section ng-controller="MotorcyclesFormController as motorcycle">
  <h4>Add New Motorcycle</h4>
  <form ng-submit="motorcycle.addMotorcycle()">
    <label>Year: <input type="Number" name="year" ng-model="motorcycle.newMotorcycle.year"></label>
    <label>Make: <input type="string" name="make" ng-model="motorcycle.newMotorcycle.make"></label>
    <label>Model: <input type="string" name="model" ng-model="motorcycle.newMotorcycle.model"></label>
    <input class="btn" type="submit" value="Save">
  </form>
</section>
