<section ng-controller="RidingGearController as view">
  <h4>Your Gear</h4>
  <form ng-submit="view.addGear()">
    <label for="brand">Brand:</label>
    <input type="text" name="brand" ng-model="view.gear.brand">
    <label for="model">Product Model:</label>
    <input type="text" name="model" ng-model="view.gear.model">
    <label for="price">Price Paid:</label>
    <input type="number" name="price" ng-model="view.gear.price">
    <label for="category">Category:</label>
    <select ng-model="view.gear.category">
      <option value="" disabled selected>Select an option</option>
      <option value="helmet">Helmet</option>
      <option value="jacket">Jacket</option>
      <option value="pants">Pants</option>
      <option value="boots">Boots</option>
      <option value="other">Other</option>
    </select>
    <input class="btn" type="submit" value="Add Item">
  </form>
  <table>
    <tr><th>Brand</th><th>Model</th><th>Price Paid</th><th>Category</th><th>Edit</th></tr>
      <script type="text/ng-template" id='display'>
        <td>{{item.brand}}</td>
        <td>{{item.model}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.category}}</td>
        <td>
          <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="view.editItem(item)"></button>
          <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="view.removeGear(item)"></button>
        </td>
      </script>
      <script type="text/ng-template" id='edit'>
        <td><input type="text" ng-model="view.selected.brand" value="view.selected.brand"></td>
        <td><input type="text" ng-model="view.selected.model" value="view.selected.model"></td>
        <td><input type="currency" ng-model="view.selected.price" value="view.selected.price"></td>
        <td>
          <select ng-model="view.selected.category">
            <option value="" disabled selected>Select an option</option>
            <option value="helmet">Helmet</option>
            <option value="jacket">Jacket</option>
            <option value="pants">Pants</option>
            <option value="boots">Boots</option>
            <option value="other">Other</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-success" ng-click="view.updateItem(item)">Save</button>
          <button type="button" class="btn btn-danger" ng-click="view.reset()">Cancel</button>
        </td>
      </script>
    <tr ng-repeat="item in view.allGear | orderBy:sortType:sortReverse" ng-include="view.getTemplate(item)">
    </tr>
  </table>
</section>
