<section ng-controller="MotorcyclesPartsController as motorcycle">
  <h4>{{selectedMotorcycle.make}} {{selectedMotorcycle.model}} Parts</h4>
  <form ng-submit="motorcycle.addPart()">
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" name="manufacturer" ng-model="motorcycle.part.manufacturer">
        <label for="description">Product Description:</label>
        <input type="text" name="description" ng-model="motorcycle.part.description">
        <label for="partNumber">Part Number:</label>
        <input type="text" name="partNumber" ng-model="motorcycle.part.partNumber">
        <label for="cost">Price Paid:</label>
        <input type="number" name="cost" ng-model="motorcycle.part.cost">
        <label for="installDate">Install Date:</label>
        <input type="date" name="installDate" ng-model="motorcycle.part.installDate">
        <input class="btn" type="submit" value="Add Part">
      </form>
      <table>
        <tr><th>Manufacturer</th><th>Description</th><th>Part Number</th><th>Price Paid</th><th>Install Date</th><th>Edit</th></tr>
          <script type="text/ng-template" id='display'>
            <td>{{part.manufacturer}}</td>
            <td>{{part.description}}</td>
            <td>{{part.partNumber}}</td>
            <td>{{part.cost | currency}}</td>
            <td>{{part.installDate | date}}</td>
            <td>
              <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="motorcycle.editPart(part)"></button>
              <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="motorcycle.removePart(part)"></button>
            </td>
          </script>
          <script type="text/ng-template" id='edit'>
            <td><input type="text" ng-model="motorcycle.selected.manufacturer" value="motorcycle.selected.manufacturer"></td>
            <td><input type="text" ng-model="motorcycle.selected.description" value="motorcycle.selected.description"></td>
            <td><input type="text" ng-model="motorcycle.selected.partNumber" value="motorcycle.selected.partNumber"></td>
            <td><input type="text" ng-model="motorcycle.selected.cost" value="motorcycle.selected.cost"></td>
            <td><input type="date" ng-model="motorcycle.selected.installDate" value="1990-01-01"></td>
            <td>
              <button type="button" class="btn btn-success" ng-click="motorcycle.updatePart(part)">Save</button>
              <button type="button" class="btn btn-danger" ng-click="motorcycle.reset()">Cancel</button>
            </td>
          </script>
        <tr ng-repeat="part in selectedMotorcycle.parts | orderBy:sortType:sortReverse" ng-include="motorcycle.getTemplate(part)"></tr>
      </table>
</section>
